@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-auto;
}

@font-face {
	/* Reference name */
	font-family: 'Work Sans';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/static/fonts/WorkSans.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'Work Sans';
	/* For multiple files use commas, ex: url(), url(), ... */

	src: url('/static/fonts/WorkSans.ttf');
}

p {
	font-size: 1.2em;
}
